.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.table {
  margin: auto;
  width: 200px;
}

.header {
  background-color: #50c08e;
  color: aliceblue;
}

.deta {
  background-color: #eff7ff;
}

.select {
  padding: 5px;
  margin-bottom: 5px;
}
